<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h3>Welcome To Our Website</h3>
    <form action="process" method="post">
        <p>
            Username :  <input type="text" name="username">
        </p>
        <p>
            Age : <input type="number" name="age">
        </p>
        <button>Submit</button>
    </form>
    <img src="~/img/CSharp2.png" alt="Image">
</body>
</html>