@{
    ViewData["Title"] = "Home Page";
}
@model Album
<div class="text-center">
    <h1 class="display-4">Post Your Favorite Albums</h1>
    <div class="card shadow border-warning p-3">
        <div class="card-head h2 text-center">🎙️ Album Form 🎼</div>
        <div class="card-body">
            <form asp-action="CreateAlbum" asp-controller="Home" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Artist"></label>
                    <input asp-for="Artist" class="form-control">
                    <span class="text-danger" asp-validation-for="Artist"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ReleaseYear"></label>
                    <input asp-for="ReleaseYear" class="form-control">
                    <span class="text-danger" asp-validation-for="ReleaseYear"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PosterUrl"></label>
                    <input asp-for="PosterUrl" class="form-control">
                    <span class="text-danger" asp-validation-for="PosterUrl"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Genre"></label>
                    <select asp-for="Genre" class="form-select">
                        <option value="rnb">R&B</option>
                        <option value="pop">Pop</option>
                        <option value="hiphop">Hip Hop</option>
                        <option value="jazz">Jazz</option>
                        <option value="Electro">Electro</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Genre"></span>
                </div>
                <button class="btn btn-warning w-100"> 🎼< Share Your Album 🎼</button>
            </form>
        </div>
    </div>
</div>
